*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
data
tensorboard_3d
**/__pycache__/
events.out*
ckpt
release

lagmemodata
output_old
output_sfs
sofa
mylocalize
teatime
zht/snapshot_fw.dump
open_clip/models--laion--CLIP-ViT-B-16-laion2B-s34B-b88K/blobs/1f16b1274ca25493b1f36225efe81d05f66a3f33c487acd1a07c5ba87920de6f
open_clip/models--laion--CLIP-ViT-B-16-laion2B-s34B-b88K/snapshots/7288da5a0d6f0b51c4a2b27c624837a9236d0112/open_clip_pytorch_model.bin
open_clip/models--laion--CLIP-ViT-B-16-laion2B-s34B-b88K/refs/main
ckpts/sam_vit_h_4b8939.pth
